hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

.post-content hr {
  -webkit-font-smoothing: antialiased;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 0px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
}

.post-content h2{
  margin-top: 2em;
  font-size: 1.5em;
  color: #037c66;
  font-family: "PT Sans",sans-serif;
}

.post-content h3{
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.4em;
  color: #037c66;
  font-family: "PT Sans",sans-serif;
}

.post-content{
  font-family: "Roboto",sans-serif;
  color: #444;
  font-size: 100%;
  font-weight: 400;
}

.post-content a:any-link {
  color: #09715E;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}
