h1{
  font-family: "PT Sans",sans-serif;
  /*color: #037c66;*/
}

.site-header{
  /*background-color: #444;*/
}

.site-nav a:any-link{
  /*color: #999;*/
  color: #444;
}

.page-content{
  font-family: "Roboto",sans-serif;
  color: #444;
  font-size: 100%;
  font-weight: 400;
}

a:any-link{
  color: #09715E;
}

.site-nav .page-link{
  font-family: "Robot", sans-serif;
  color: #999;
  font-weight: 800;
}

.site-title a:any-link{
  /* font-family: "PT Sans",sans-serif; */
  font-size: 1.5em;
  /* color: #037c66; */
}
