#title
{
  display: inline-block;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}

span, a
{
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom: 10px;
	text-align: center;
}
