<!--Future idea to search on the side bar-->
<!--
<button class="search__toggle" type="button">
    <span class="visually-hidden">Toggle search</span>
    <i class="fas fa-search"></i>
</button>
-->

<nav class="nav__list">
    <ul class="nav__items">
        <li>
            <span class="nav__sub-title">Recent posts</span>
            <ul>
                {% for post in site.posts limit:4 %}
                    <li class="sidebar__item"><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>