---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/*
$link-color: red;
*/

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*
code{
    font-size: 12px;
}
*/

a:any-link{
    text-decoration: none;
}

/* for the code blocks */
pre {
    font-size: 0.8em;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.page__title{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #037c66;
}

.page__content h2{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #037c66;
}

.page__content h3{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #037c66;
}

.page__content {
    p, li, dl {
        font-size: 0.8em;
    }
    code {
        font-size: 0.8em;
    }
}

/* Post navigation links */

hr.post_navi_hr{
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1px solid #3d4144;
    margin-left: 15%;
    margin-right: 15%;
}

.post_navi {
    display: inline-flex;
}
  
.post_navi-label {
    font-size: 0.8em;
    opacity: 0.5;
}

.post_navi-title {
    font-size: 0.8em;
}
  
.post_navi .post_navi-item {
    padding: 0 2.2em;
    width: 50%;
    position: relative;
    color: inherit !important;
}
  
.post_navi .nav_prev {
    text-align: left;
}
  
.post_navi .nav_next {
    text-align: right;
}
  
.post_navi .nav_prev .post_navi-arrow {
    left: 0;
}
  
.post_navi .nav_next .post_navi-arrow {
    right: 0;
}
  
.post_navi .post_navi-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5em;
    opacity: 0.3;
}

/* Format of posts archive items (previews) */

.archive__item-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    padding-bottom: 0.5em;
    /*border-bottom: 1px solid #CCC;*/
}

.grid__item article{
    background: #fff;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 3px #999;
}

/* Get a line right after the excerpt to separate the meta-data from exerpt */
.archive__item-excerpt {
    padding-bottom: 1em;
    border-bottom: 1px solid #CCC;
}

p.archive__item-excerpt{
    margin-bottom: 1em;
}

/* 3 columns maximum insteaad of 4 in default template */
.archive .grid__item {
    @include breakpoint($medium) {
        width: span(4 of 12);
        margin-left: 0; /* override margin*/
        margin-right: 0; /* override margin*/

        &:nth-child(3n + 1) {
            clear: both;
            margin-left: 0;
        }
        &:nth-child(3n + 2) {
            clear: none;
            margin-left: gutter(1 of 12);
        }
        &:nth-child(3n + 3) {
            clear: none;
            margin-left: gutter(1 of 12);
        }
    }
}


/* To tweak in order to increase the size of the blog at the center */
/*
.page {
    @include breakpoint($large) {
        float: right;
        width: calc(100% - $right-sidebar-width);
        padding-right: $right-sidebar-width;
    }
  
    @include breakpoint($x-large) {
        width: calc(100% - $right-sidebar-width);
        padding-right: $right-sidebar-width;
    }
}
*/
