---
layout: archive
---

{{ content }}

<!--
[TicTacToe](https://quentinduval.github.io/tictactoe/index.html)
-->

<div class="entries-grid">
  <div class="grid__item">
    <article class="front_page__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="front_page__item-teaser">
        <img src="/assets/images/vissl_logo.png" alt="">
      </div>
      <h2 class="front_page__item-title" itemprop="headline">
        <a href="https://github.com/facebookresearch/vissl">VISSL</a>
      </h2>
    </article>
  </div>
  <div class="grid__item">
    <article class="front_page__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="front_page__item-teaser">
        <img src="/assets/images/tribolo.png" alt="">
      </div>
      <h2 class="front_page__item-title" itemprop="headline">
        <a href="/tribolo/index.html">Tribolo</a>
      </h2>
    </article>
  </div>
  <div class="grid__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="front_page__item-teaser">
        <img src="/assets/images/interval_training.png" alt="">
      </div>
      <h2 class="front_page__item-title" itemprop="headline">
        <a href="/interval-training/index.html">Interval Training</a>
      </h2>
    </article>
  </div>
</div>
