---
layout: archive
---

{{ content }}

<div class="entries-grid">
  <div class="grid__item">
    <article class="front_page__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="front_page__item-teaser">
        <img src="/assets/images/GitHub_octocat.png" alt="">
      </div>
      <h2 class="front_page__item-title" itemprop="headline">
        <a href="https://github.com/QuentinDuval">GitHub</a>
      </h2>
    </article>
  </div>
  <div class="grid__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="front_page__item-teaser">
        <img src="/assets/images/google_scholar_logo_2.png" alt="">
      </div>
      <h2 class="front_page__item-title" itemprop="headline">
        <a href="https://scholar.google.com/citations?user=XTaVGqYAAAAJ">Research</a>
      </h2>
    </article>
  </div>
  <div class="grid__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="front_page__item-teaser">
        <img src="/assets/images/react_logo.png" alt="">
      </div>
      <h2 class="front_page__item-title" itemprop="headline">
        <a href="/apps">Apps & Projects</a>
      </h2>
    </article>
  </div>
  <div class="grid__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="front_page__item-teaser">
        <img src="/assets/images/blog_post_image.png" alt="">
      </div>
      <h2 class="front_page__item-title" itemprop="headline">
        <a href="/blog">Tech Blog</a>
      </h2>
    </article>
  </div>
  <div class="grid__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="front_page__item-teaser">
        <img src="/assets/images/books_generated_3.png" alt="">
      </div>
      <h2 class="front_page__item-title" itemprop="headline">
        <a href="https://github.com/QuentinDuval/Reads">Books & Papers I read</a>
      </h2>
    </article>
  </div>
  <div class="grid__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="front_page__item-teaser">
        <img src="/assets/images/talks_image.png" alt="">
      </div>
      <h2 class="front_page__item-title" itemprop="headline">
        <a href="/talks">Talks & Presentations</a>
      </h2>
    </article>
  </div>
</div>
